<%= form_for(@trykforlaeg) do |f| %>
  <% if @trykforlaeg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trykforlaeg.errors.count, "error") %> prohibited this trykforlaeg from being saved:</h2>

      <ul>
      <% @trykforlaeg.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.label :dateIssued %>
  <%= f.text_field :isbn %>
  <%= f.label :isbn %>
  <%= f.text_field :isbn %>
  <%= f.label :language_value %>
  <%= f.text_field :language_value %>
  <%= f.label :language_authority %>
  <%= f.text_field :language_authority %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
