<h1>Editing book_tiff_representation</h1>

<%= form_for @book_tiff_representation do |f| %>
    <%= fields_for :book_tiff_representation do |builder| %>
        <%= render 'tiff_metadata_fields', :f => builder %>
    <% end %>
    <br/>
    <%= f.submit "Update" %>
<% end %>

<%= link_to 'Show', @book_tiff_representation %> |
<%= link_to 'Book TIFF Representations', book_tiff_representations_path %>
