<p>Filer tilknyttet: <%= @book_tiff_representation.files.count %></p>
<%- @book_tiff_representation.files.each do |file| %>
    <% # TODO fix the following %>
    File Name: <%= file.nil? ? "No file" : file.original_filename %>
    <br/>
    Created: <%= file.nil? ? "N/A" : file.created %>
    <br/>
    MIME: <%= file.nil? ? "N/A" : file.mime_type %>
    <br/>
    File Size: <%= file.nil? ? "N/A" : file.size %>
    <br/>
    Checksum: <%= file.nil? ? "N/A" : file.checksum %>
    <br/>
    UUID: <%= file.nil? ? "N/A" : file.uuid %>
    <br/>
    <hr/>
<%- end %>

<%= link_to 'Edit', edit_book_tiff_representation_path(@book_tiff_representation) %> |
<%= link_to 'Back', book_tiff_representations_path %>
