<h3>Book TIFF Representation: <%= @book_tiff_representation.label %></h3>

<table border="0">
  <tr><td style="font-weight: bold;">Label: </td><td><%= @book_tiff_representation.label %></td></tr>
</table>

<hr/>

<p><span style="font-weight: bold;">Number of files:</span> <%= @book_tiff_representation.files.count %></p>
<p><span style="font-weight: bold;"><%= link_to 'Download All', download_all_book_tiff_representation_path %></span> </p>

<%- @book_tiff_representation.files.each do |file| %>
    <% # TODO fix the following %>
        <span style="font-weight: bold;">File Name:</span> <%= file.nil? ? "No file" : file.original_filename %>
    <br/>
        <span style="font-weight: bold;">Created:</span> <%= file.nil? ? "N/A" : file.created %>
    <br/>
        <span style="font-weight: bold;">MIME:</span> <%= file.nil? ? "N/A" : file.mime_type %>
    <br/>
        <span style="font-weight: bold;">File Size:</span> <%= file.nil? ? "N/A" : file.size %> bytes
    <br/>
        <span style="font-weight: bold;">Checksum:</span> <%= file.nil? ? "N/A" : file.checksum %>
    <br/>
        <span style="font-weight: bold;">UUID:</span> <%= file.nil? ? "N/A" : file.uuid %>
    <br/>
    <%= file.nil? ? "N/A" : (link_to "Download", {:action => "show", :pid => file.pid, :controller => "view_file" }) %>
    <br />
    <hr/>
<%- end %>

<% if @book_tiff_representation.has_book? %>
    <p><b>Book:</b>
      <%= link_to @book_tiff_representation.book.title + " (" + @book_tiff_representation.book.pid + ")", book_path(@book_tiff_representation.book) %>
    </p>
<% else %>
    <p>No book represented by this.</p>
<% end %>

<br/>

<%= link_to 'Edit', edit_book_tiff_representation_path(@book_tiff_representation) %> |
<%= link_to 'Book TIFF Representations', book_tiff_representations_path %> |
<%= link_to 'Books', books_path %>