<h3>Book TIFF Representation: <%= @book_tiff_representation.label %></h3>

<table border="0">
  <tr><td><b>Label</b></td><td><%= @book_tiff_representation.label %></td></tr>
</table>

<hr/>

<p>Filer tilknyttet: <%= @book_tiff_representation.files.count %></p>
<%- @book_tiff_representation.files.each do |file| %>
    <% # TODO fix the following %>
    File Name: <%= file.nil? ? "No file" : file.original_filename %>
    <br/>
    Created: <%= file.nil? ? "N/A" : file.created %>
    <br/>
    MIME: <%= file.nil? ? "N/A" : file.mime_type %>
    <br/>
    File Size: <%= file.nil? ? "N/A" : file.size %> bytes
    <br/>
    Checksum: <%= file.nil? ? "N/A" : file.checksum %>
    <br/>
    UUID: <%= file.nil? ? "N/A" : file.uuid %>
    <br/>
    <%= file.nil? ? "N/A" : (link_to "Download", {:action => "show", :pid => file.pid, :controller => "view_file" }) %>
    <br />
    <hr/>
<%- end %>

<%= link_to 'Edit', edit_book_tiff_representation_path(@book_tiff_representation) %> |
<%= link_to 'Book TIFF Representations', book_tiff_representations_path %> |
<%= link_to 'Books', books_path %>