<%= link_to 'Show', @ordered_representation %>
<%= link_to 'Edit metadata', edit_ordered_representation_path(@ordered_representation) %> |
<%= link_to 'Preservation settings', preservation_ordered_representation_path(@ordered_representation) %> |
<% if @ordered_representation.ie.kind_of?(Work) %>
    <%= link_to "Work: #{@ordered_representation.ie.get_title_for_display}", work_path(@ordered_representation.ie) %>
<% elsif @ordered_representation.ie.kind_of?(Book) %>
    <%= link_to "Book: #{@ordered_representation.ie.get_title_for_display}", book_path(@ordered_representation.ie) %>
<% else %>
    <p>Unexpected intellectual entity: <% "#{@ordered_representation.ie.class}" %></p>
<% end %>