<p id="notice"><%= notice %></p>

<table border='0'>
  <tr><td style='font-weight: bold;'>Representation name: </td><td><%= @ordered_representation.representation_name %></td></tr>
  <tr><td>Number of files: </td><td><%= @ordered_representation.files.length.to_s %></td></tr>
</table>

<p><span style="font-weight: bold;"><%= link_to 'Download All', download_all_ordered_representation_path(@ordered_representation) %></span> </p>


<br/>

<%= render 'footer' %>

<hr/>

<%- @ordered_representation.files.each do |file| %>
    <% # TODO fix the following %>
    <span style='font-weight: bold;'>File Name:</span> <%= file.nil? ? 'No basic_files' : file.original_filename %>
    <br/>
    <span style='font-weight: bold;'>Created:</span> <%= file.nil? ? 'N/A' : file.created %>
    <br/>
    <span style='font-weight: bold;'>MIME:</span> <%= file.nil? ? 'N/A' : file.mime_type %>
    <br/>
    <span style='font-weight: bold;'>File Size:</span> <%= file.nil? ? 'N/A' : file.size %> bytes
    <br/>
    <span style='font-weight: bold;'>Checksum:</span> <%= file.nil? ? 'N/A' : file.checksum %>
    <br/>
    <span style='font-weight: bold;'>UUID:</span> <%= file.nil? ? 'N/A' : file.uuid %>
    <br/>

    <% if file.nil? %>
        <p>"N/A"</p>
    <% else %>
        <%= file.kind_of?(TiffFile) ? (link_to image_tag(url_for(thumbnail_url_ordered_representation_path :pid => file.pid), :style => "border: 1px solid black;"),
                                               {:action => "show", :pid => file.pid, :controller => "view_file" })
            : (link_to 'Download', {:action => 'show', :pid => file.pid, :controller => 'view_file' }) %>
    <% end %>
    <br />
    <hr/>
<%- end %>