<p id='notice'><%= notice %></p>

<table border='0'>
  <tr><td style='font-weight: bold;'>Representation name: </td><td><%= @single_file_representation.representation_name %></td></tr>
  <tr><td>Number of files: </td><td><%= @single_file_representation.files.length.to_s %></td></tr>
</table>

<br/>

<%= render 'footer' %>

<hr/>

<%- @single_file_representation.files.each do |file| %>
    <% # TODO fix the following %>
    <span style='font-weight: bold;'>File Name:</span> <%= file.nil? ? 'No basic_files' : file.original_filename %>
    <br/>
    <span style='font-weight: bold;'>Created:</span> <%= file.nil? ? 'N/A' : file.created %>
    <br/>
    <span style='font-weight: bold;'>MIME:</span> <%= file.nil? ? 'N/A' : file.mime_type %>
    <br/>
    <span style='font-weight: bold;'>File Size:</span> <%= file.nil? ? 'N/A' : file.size %> bytes
    <br/>
    <span style='font-weight: bold;'>Checksum:</span> <%= file.nil? ? 'N/A' : file.checksum %>
    <br/>
    <span style='font-weight: bold;'>UUID:</span> <%= file.nil? ? 'N/A' : file.uuid %>
    <br/>
    <%= file.nil? ? 'N/A' : (link_to 'Download', {:action => 'show', :pid => file.pid, :controller => 'view_file' }) %>
    <br />
    <hr/>
<%- end %>