<div class="alert"><%= person_tei_representation.errors.full_messages.join("<br>").html_safe %></div>
<%= form_for person_tei_representation, :multipart => true do |f| %>
    <div>
      <%= f.label :forename, "Forfatter navn" %>
      <br/>
      <%= f.text_field :forename, :placeholder => "Fornavn:" %>
      <%= f.text_field :surname, :placeholder => "Efternavn:" %>
    </div>
    <div>
      <%= f.label :date_of_birth, "Fødsels/død" %>
      <br/>
      <%= f.text_field :date_of_birth, :placeholder => "Fødsel:" %>
      <%= f.text_field :date_of_death, :placeholder => "Død:" %>
    </div>
    <div>
      <%= f.label :sample_quotation, "Citat" %>
      <br/>
      <%= f.text_area :sample_quotation, :placeholder => "Citat:" %>
      <br/>
      <%= f.label :sample_quotation_source, "Citat Source" %>
      <br/>
      <%= f.text_field :sample_quotation_source, :placeholder => "Citat Source:" %>
    </div>
    <br/>
    <%= f.submit %>
<% end %>
