<div class="alert"><%= person_tei_representation.errors.full_messages.join("<br>").html_safe %></div>
<%= form_for person_tei_representation, :multipart => true do |f| %>
    <div>
      <%= f.label :forename, "Author Name" %>
      <br/>
      <%= f.text_field :forename, :placeholder => "Forename:" %>
      <%= f.text_field :surname, :placeholder => "Lastname:" %>
    </div>
    <div>
      <%= f.label :date_of_birth, "Date of Birth/Date of Death" %>
      <br/>
      <%= f.text_field :date_of_birth, :placeholder => "Born:" %>
      <%= f.text_field :date_of_death, :placeholder => "Died:" %>
    </div>
    <div>
      <%= f.label :sample_quotation, "Quotation" %>
      <br/>
      <%= f.text_area :sample_quotation, :placeholder => "Quotation:" %>
      <br/>
      <%= f.label :sample_quotation_source, "Quotation Source" %>
      <br/>
      <%= f.text_field :sample_quotation_source, :placeholder => "Quotation Source:" %>
    </div>
    <br/>
    <%= f.submit %>
<% end %>
