<h3>Person TEI Representation</h3>
<p id="notice"><%= notice %></p>

<h2><b><%= "#{@person_tei_representation.forename} #{@person_tei_representation.surname}" %></b></h2>

<div>
  <%= @person_tei_representation.date_of_birth %> - <%= @person_tei_representation.date_of_death %>
</div>
    <%= @person_tei_representation.sample_quotation %>
    <br>
    <%= @person_tei_representation.sample_quotation_source %>

<hr/>
<div>
  <% if @person_tei_representation.person %>
      <p><b>Person:</b>
        <%= link_to @person_tei_representation.person.to_s + " (" + @person_tei_representation.person.pid + ")", person_path(@person_tei_representation.person) %>
      </p>
  <% else %>
    <p>No person defined.</p>
  <% end %>
</div>

<%= link_to 'Edit', edit_person_tei_representation_path(@person_tei_representation) %> |
<%= link_to 'Person TEI Representation', person_tei_representations_path %> |
<%= link_to 'People', people_path %>
