<p id="notice"><%= notice %></p>

<h2><b></b><%= "#{@person_tei_representation.forename} #{@person_tei_representation.surname}" %></b></h2>

<div>
  <%= @person_tei_representation.date_of_birth %> - <%= @person_tei_representation.date_of_death %>
</div>
    <%= @person_tei_representation.sample_quotation %>
    <br>
    <%= @person_tei_representation.sample_quotation_source %>
<div>

</div>

<div>
  <% if @person_tei_representation.person %>
      <%= link_to 'Person', person_path(@person_tei_representation.person) %>
  <% else %>
    <p>No person defined.</p>
  <% end %>
</div>

<%= link_to 'Ændre', edit_person_tei_representation_path(@person_tei_representation) %> |
<%= link_to 'Tilbage', person_tei_representations_path %>
