<div class="row">
  <div class="span2">
    <strong>Title</strong>
  </div>
  <div class="span8">
    <%= @amu.title%>
  </div>
</div>

<div class="row">
  <div class="span2">
    <strong>First Name</strong>
  </div>
  <div class="span8">
    <%= @amu.firstName%>
  </div>
</div>

<div class="row">
  <div class="span2">
    <strong>Last Name</strong>
  </div>
  <div class="span8">
    <%= @amu.lastName%>
  </div>
</div>

<div class="row">
  <div class="span2">
    <strong>Date of Birth</strong>
  </div>
  <div class="span8">
    <%= @amu.dateOfBirth%>
  </div>
</div>

<div class="row">
  <div class="span2">
    <strong>Date of Death</strong>
  </div>
  <div class="span8">
    <%= @amu.dateOfDeath%>
  </div>
</div>