
<div class="control-group">
  <%= f.label :title, "Title", :class=>'control-label' %>
  <div class="controls">
    <%= f.text_field :title, :placeholder => "title", :class=>'input-block-level' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :firstName, "First Name", :class=>'control-label' %>
  <div class="controls">
    <%= f.text_field :firstName, :placeholder => "First Name", :class=>'input-block-level' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :lastName, "Last Name", :class=>'control-label' %>
  <div class="controls">
    <%= f.text_field :lastName, :placeholder => "Last Name", :class=>'input-block-level' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :dateOfBirth, "Date Of Birth", :class=>'control-label' %>
  <div class="controls">
    <%= f.text_field :dateOfBirth, :placeholder => "Date of Birth", :class=>'input-block-level' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :dateOfDeath, "Date Of Death", :class=>'control-label' %>
  <div class="controls">
    <%= f.text_field :dateOfDeath, :placeholder => "Date of Death", :class=>'input-block-level' %>
  </div>
</div>
