<%= render "#{@amu.class.to_s.downcase}_header" %>

<%= form_for @amu, :html=>{:multipart=>true, :class=>'form-horizontal'} do |f| %>
    <%= f.error_messages :header_message => "Edit AuthorityMetadataUnit error", :class => "alert alert-error", :header_tag => :h3 %>
    <%= fields_for :amu do |f| %>
        <%= render "#{@amu.class.to_s.downcase}_fields", :f=>f %>

        <div class="control-group">
          <%= f.label :reference, "Reference", :class=>'control-label' %>
          <%= fields_for :reference do |builder| %>
              <% @amu.reference.each do |ref| %>
                  <% unless ref.blank? %>
                    <div class="controls">
                      <%= builder.text_field "#{ref}", :value => "#{ref}", :class=>'input-block-level' %>
                    </div>
                  <% end %>
              <% end %>
              <div class="controls">
                <%= builder.text_field :new_reference, :placeholder => "New Reference", :class=>'input-block-level' %>
              </div>
          <% end %>

        </div>
    <% end %>
    <br/>
    <%= f.submit "Update" %>
<% end %>
