<%= render 'header' %>

<div class="row">
  <div class="span10">
    <h3><%= @amu.type%></h3>
  </div>
</div>

<div class="row">
  <div class="span2">
    <strong>Value</strong>
  </div>
  <div class="span8">
    <%= @amu.value%>
  </div>
</div>

<div class="row">
  <div class="span2">
    <strong>References</strong>
  </div>
  <% @amu.reference.each do |ref| %>
      <div class="span8">
        <a href=<%= ref %> > <%= ref %> </a>
      </div>
  <% end %>
</div>

<% @amu.get_relations.each do |k, v| %>
<div class="row">
      <div class="span2">
        <strong><%= k %></strong>
      </div>
      <% v.each do |relation| %>
        <div class="span8">
          <%= link_to (relation) do%>
            <% if relation.is_a?(Work) %>
              <i class="icon-home"></i>
              <%= relation.get_title_for_display %>
            <% else %>
              <i class="icon-heart"></i>
              <%= relation.label %>
            <% end %>
          <% end %>
        </div>
      <% end %>
</div>
<% end %>

