<%= render 'header' %>

<div class="row">
  <div class="span10">
    <h3><%= @amu.type%></h3>
  </div>
</div>

<div class="row">
  <div class="span2">
    <strong>Value</strong>
  </div>
  <div class="span8">
    <%= @amu.value%>
  </div>
</div>

<div class="row">
  <div class="span2">
    <strong>References</strong>
  </div>
  <% @amu.reference.each do |ref| %>
      <div class="span8">
        <%= ref %>
      </div>
  <% end %>
</div>

<div class="row">
  <% @amu.get_relations.each do |k, v| %>
      <div class="span2">
        <strong><%= k %></strong>
      </div>
      <% v.each do |relation| %>
        <div class="span8">
          <%= link_to (relation) do%>
            <% if relation.is_a?(Work) %>
              <i class="icon-chevron-up"></i>
              <%= relation.get_title_for_display %>
            <% else %>
              <i class="icon-chevron-down"></i>
              <%= relation.get_title_for_display %>
            <% end %>
          <% end %>
        </div>
      <% end %>
  <% end %>
</div>

