<%= render "#{@amu.class.to_s.downcase}_header" %>

<% @amu.all_attributes.each do |label, value| %>
    <div class="row">
      <div class="span2">
        <strong><%= t(label) %></strong>
      </div>
      <div class="span8">
        <%= value %>
      </div>
    </div>
<% end %>


<div class="row">
  <div class="span2">
    <strong>References</strong>
  </div>
  <div class="span8">
    <% @amu.reference.each do |ref| %>
      <a href=<%= ref %> > <%= ref %> </a> <br/>
    <% end %>
  </div>
</div>

<%= render "#{@amu.class.to_s.downcase}_show" %>

<% @amu.get_relations.each do |k, v| %>
<div class="row">
      <div class="span2">
        <strong><%= k %></strong>
      </div>
      <% v.each do |relation| %>
        <div class="span8">
          <%= link_to (relation) do%>
            <% if relation.is_a?(Work) %>
              <i class="icon-home"></i>
              <%= relation.get_title_for_display %>
            <% else %>
              <i class="icon-heart"></i>
              <%= relation.label %>
            <% end %>
          <% end %>
        </div>
      <% end %>
</div>
<% end %>

