<%= form_for person, :html=>{:multipart=>true}, :validate => true do |f| %>
    <%= f.error_messages %>
    <div>
      <%= f.label :firstname, "Author name" %>
      <%= f.text_field :firstname, :placeholder => "Forename:" %>
      <%= f.text_field :lastname, :placeholder => "Lastname:" %>
    </div>
    <br/>
    <div>
      <%= f.label :date_of_birth, "Date of birth/Date of death" %>
      <%= f.text_field :date_of_birth, :placeholder => "Date of birth:" %>
      <%= f.text_field :date_of_death, :placeholder => "Date of death:" %>
    </div>
    <br/>
    <div>
      <%= label_tag "Person Image" %>
      <%= file_field_tag 'person_image_file' %>
      <a class="btn btn-small btn-danger" href="#" id="person_image_file_clear" title="Clear file"><i class="icon-remove"></i></a>
    </div>
    <br/>
    <%= f.submit %>
<% end %>
