<div>
  <%= f.label :firstname, "Author name" %>
  <%= f.text_field :firstname, :placeholder => "Forename:" %>
  <%= f.text_field :lastname, :placeholder => "Lastname:" %>
</div>
<br/>
<div>
  <%= f.label :date_of_birth, "Date of birth/Date of death" %>
  <%= f.text_field :date_of_birth, :placeholder => "Date of birth:" %>
  <%= f.text_field :date_of_death, :placeholder => "Date of death:" %>
</div>
<br/>
