<div class="control-group">
  <%= f.label :portrait_file, "Portrait of the person", :class=>'control-label' %>
  <div class="controls">
      <span class="btn btn-file">
        <span class="js_button_text">Upload file</span>
        <%= f.file_field :portrait_file %>
      </span>
      <a class="btn btn-danger" href="#" id="portrait_file_clear" title="Clear file"><i class="icon-trash icon-white"></i></a>
    <%= fields_for :portrait_metadata do |builder| %>
        <%= builder.text_field :title, :placeholder => "Title of the portrait", :class=>'input-medium' %>
    <% end %>
    <%= fields_for :portrait_representation_metadata do |builder| %>
        <%= builder.text_field :label, :placeholder => "Label", :class=>'input-medium' %>
    <% end %>
  </div>

</div>
