<div class="page-header">
  <h1>New person</h1>
</div>

<%= form_for @person, :html => {:multipart => true, :class=>'form-horizontal'} do |f| %>
    <%= f.error_messages :header_message => "New person error", :class => "alert alert-error", :header_tag => :h3 %>
    <%= fields_for :person do |builder| %>
        <%= render 'metadata_fields', :f => builder %>
    <% end %>
    <br/>
    <%= fields_for :portrait, :html => {:multipart => true} do |builder| %>
        <%= render 'portrait_upload', :f => builder %>
    <% end %>
    <br/>
    <%= fields_for :tei, :html => {:multipart => true} do |builder| %>
        <%= render 'tei_file_upload', :f => builder %>
    <% end %>
    <%= f.submit "Create" %>

<% end %>

<%= link_to 'Back', people_path %>

