<h3><%= @person.name %></h3>
<table border="0">
  <tr><td><b>Date of Birth</b></td><td><%= @person.date_of_birth %></td></tr>
  <tr><td><b>Date of Death</b></td><td><%= @person.date_of_death %></td></tr>
  <tr><td><b>UUID</b></td><td><%= @person.uuid %></td></tr>
  <%= image_tag url_for(show_image_person_path @person.pid), :alt => ""  %>
</table>

<hr/>
<div>
  <p><b>Books authored</b></p>
  <% if @person.is_author_of_book? %>
      <ul>
        <% @person.authored_books.each do |book| %>
            <li><%= link_to book.get_title_for_display, book_path(book) %></li>
        <% end %>
      </ul>
  <% else %>
      <p>No books authored by this person.</p>
  <% end %>
</div>
<hr/>
<div>
  <p><b>Works authored</b></p>
  <% if @person.is_author_of_work? %>
      <ul>
        <% @person.authored_works.each do |work| %>
            <li><%= link_to work.get_title_for_display, work_path(work) %></li>
        <% end %>
      </ul>
  <% else %>
      <p>No works authored by this person.</p>
  <% end %>
</div>
<hr/>
<div>
  <p><b>Biographies / books concerning person</b></p>
  <% if @person.is_concerned_by_book? %>
      <ul>
        <% @person.concerning_books.each do |book| %>
            <li><%= link_to book.get_title_for_display, book_path(book) %></li>
        <% end %>
      </ul>
  <% else %>
      <p>No book is concerning this person.</p>
  <% end %>
</div>
<hr/>
<div>
  <p><b>Work concerning person</b></p>
  <% if @person.is_concerned_by_work? %>
      <ul>
        <% @person.concerning_works.each do |work| %>
            <li><%= link_to work.get_title_for_display, work_path(work) %></li>
        <% end %>
      </ul>
  <% else %>
      <p>No work is concerning this person.</p>
  <% end %>
</div>
<hr/>
<div>
  <p><b>Images of person</b></p>
  <% if @person.has_portrait? %>
      <ul>
        <% @person.person_image_representation.each do |portrait| %>
            <li><%= link_to portrait.label + "(" + portrait.pid + ")", url_for(image_url_person_path :pid => portrait.pid) %></li>
        <% end %>
      </ul>
  <% else %>
      <p>No portrait of this person.</p>
  <% end %>
</div>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'People', people_path %>
