<h3><%= @person.name %></h3>
<table border="0">
  <tr><td><b>Date of Birth</b></td><td><%= @person.date_of_birth %></td></tr>
  <tr><td><b>Date of Death</b></td><td><%= @person.date_of_death %></td></tr>
  <tr><td><b>UUID</b></td><td><%= @person.uuid %></td></tr>
  <%= image_tag url_for(show_image_person_path @person.pid), :alt => ""  %>
</table>

<hr/>
<div>
  <p><b>TEI representations</b></p>
  <% if @person.tei_rep? %>
      <ul>
        <% @person.tei.each do |tei| %>
            <li><%= link_to tei.to_s + " (" + tei.pid + ")", person_tei_representation_path(tei) %></li>
        <% end %>
      </ul>
  <% else %>
      <p>No tei file for this person.</p>
  <% end %>
</div>
<hr/>
<div>
  <p><b>Books authored</b></p>
  <% if @person.is_author? %>
      <ul>
        <% @person.authored_books.each do |book| %>
            <li><%= link_to book.get_title_for_display, book_path(book) %></li>
        <% end %>
      </ul>
  <% else %>
      <p>No books authored by this person.</p>
  <% end %>
</div>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'People', people_path %>
