<%= javascript_include_tag params[:controller] %>
<div class="control-group">
  <%= f.label :agent, 'This work...', :class=>'control-label' %>
  <div class="controls">
    <select id="agent_relationship" name="agent_relationship" class="control-group">
      <% METADATA_RELATIONS_CONFIG['work'].split(' ').each do |relation|  %>
          <option id="<%= relation %>"><%= relation %></option>
      <% end %>
    </select>
  </div>
  <div class="controls">
    <%= collection_select(:agent,
                        :id,
                        AuthorityMetadataUnit.all,
                        :id,
                        :value,
                        options = { :include_blank => false },
                        { :multiple => false, :class=>'input-block-level' }) %>
  </div><br/>
  <div class="controls">
    <%= button_tag(type: 'button', onclick: 'addAgent($("#agent_relationship option:selected").text(),
                                                    $("#agent_id option:selected").text(), $("#agent_id option:selected").val())', class: 'btn') do
      content_tag(:label, 'Add Agent')
    end
    %>
  </div>
  <%= hidden_field_tag 'work_agents' %>
  <br><br>
  <div id="work_agents" class="control-group">
    <table border="1" id="agent_relations" class="table">
      <thead>
      <tr>
        <th>Relationship Type</th>
        <th>Agent Name</th>
      </tr>
      </thead>
      <tbody id="agent_relations_tbody">
      <tr>
        <td>None</td>
        <td>None</td>
      </tr>
      </tbody>
    </table>
  </div><br>
</div>
