<div>
  <br/>
    <%= f.label :shelfLocator, "Shelf Locator" %>
    <%= f.text_field :shelfLocator, :placeholder => "Shelf Locator" %>
</div>
<div>
  <br/>
    <%= f.label :typeOfResource, "Type of resource" %>
    <%= f.text_field :typeOfResource, :placeholder => "Type of resource" %>
</div>
<div>
  <br/>
    <%= f.label :publisher, "Publisher" %>
    <%= f.text_field :publisher, :placeholder => "Publisher" %>
</div>
<div>
  <br/>
    <%= f.label :originPlace, "Place of origin" %>
    <%= f.text_field :originPlace, :placeholder => "Place of origin" %>
</div>
<div>
  <br/>
    <%= f.label :languageISO, "Language (both ISO and in text)" %>
    <%= f.text_field :languageISO, :placeholder => "da" %>
    <%= f.text_field :languageText, :placeholder => "Danish" %>
</div>
<div>
  <br/>
    <%= f.label :subjectTopic, "Topic" %>
    <%= f.text_field :subjectTopic, :placeholder => "Topic" %>
</div>
<div>
  <br/>
    <%= f.label :dateIssued, "Date issued" %>
    <%= f.text_field :dateIssued, :placeholder => "Date" %>
</div>
<div>
  <br/>
    <%= f.label :physicalExtent, "Physical extent" %>
    <%= f.text_field :physicalExtent, :placeholder => "physicalExtent" %>
</div>
