<div>
  <br/>
  <%= f.label :basic_files, 'The basic_files representation for the work' %>
  <%= f.file_field :basic_files, :multiple => false, :id => 'fileupload' %>
  <a class="btn btn-small btn-danger" href="#" id="file_clear" title="Clear file"><i class="icon-remove"></i></a>
  <%= fields_for :rep do |builder| %>
      <%= builder.text_field :label, :placeholder => 'Label' %>
  <% end %>
  <br>
  <%= f.label :basic_files, 'Skip file characterisation?' %>
  <%= check_box_tag 'skip_file_characterisation' %>
  <br>
</div>