<div class="controls-group">
  <%= f.label :workActivity, 'Activity', :class=>'control-label' %>
  <select id="" name="work_activity" class="control-group">
    <%  do |activity|  %>
        <option id="<%= activity %>"><%= activity %></option>
    <% end %>
  </select>
</div>

<div class="control-group">
    <%= f.label :workType, 'Work type', :class=>'control-label' %>
    <div class="controls">
        <%= f.text_field :workType, :placeholder => 'Work type', :class=>'input-block-level' %>
    </div>
</div>

<div class="control-group">
    <%= f.label :title, 'Title', :class=>'control-label' %>
    <div class="controls">
        <%= f.text_field :title, :placeholder => 'Title', :class=>'input-block-level' %>
      <%= f.text_field :subTitle, :placeholder => 'Subtitle', :class=>'input-block-level' %>
    </div>
</div>
