<div class="control-group">
  <%= f.label :activity, 'Activity', :class=>'control-label' %>
  <%- @adminMetadata = @work.adminMetadata -%>
  <%= fields_for :administration do |builder| %>
      <div class="controls">
          <% if @adminMetadata.activity.nil? %>
            <%= builder.select 'activity', options_for_select(get_controlled_vocab('Activity')), :class=>'input-block-level'%>
          <% else %>
             <%= builder.select 'activity', options_for_select(get_controlled_vocab('Activity'), @adminMetadata.activity.first), :value => @adminMetadata.activity.first, :class=>'input-block-level' %>
        <% end %>
       </div>
  <% end %>
</div>

<div class="control-group">
    <%= f.label :workType, 'Work type', :class=>'control-label' %>
    <div class="controls">
        <%= f.text_field :workType, :placeholder => 'Work type', :class=>'input-block-level' %>
    </div>
</div>

<div class="control-group">
    <%= f.label :title, 'Title', :class=>'control-label' %>
    <div class="controls">
        <%= f.text_field :title, :placeholder => 'Title', :class=>'input-block-level' %>
      <%= f.text_field :subTitle, :placeholder => 'Subtitle', :class=>'input-block-level' %>
    </div>
</div>
