<div class="control-group">
  <%= f.label :activity, 'Activity', :class=>'control-label' %>
  <div class="controls">
      <% if @work.activity.nil? %>
        <%= select_tag 'activity', options_for_select(get_controlled_vocab('Activity')), :class=>'input-block-level'%>
      <% else %>
         <%= select_tag 'activity', options_for_select(get_controlled_vocab('Activity'), @work.activity.first), :value => @work.activity.first, :class=>'input-block-level'%>
    <% end %>
   </div>
</div>

<div class="control-group">
    <%= f.label :workType, 'Work type', :class=>'control-label' %>
    <div class="controls">
        <%= f.text_field :workType, :placeholder => 'Work type', :class=>'input-block-level' %>
    </div>
</div>

<div class="control-group">
    <%= f.label :title, 'Title', :class=>'control-label' %>
    <div class="controls">
        <%= f.text_field :title, :placeholder => 'Title', :class=>'input-block-level' %>
      <%= f.text_field :subTitle, :placeholder => 'Subtitle', :class=>'input-block-level' %>
    </div>
</div>
