<div>
  <br/>
  <%= f.label :work_type, "Work type" %>
  <%= f.text_field :work_type, :placeholder => "Work type" %>
</div>
<div>
  <br/>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title, :placeholder => "Title" %>
  <%= f.text_field :subTitle, :placeholder => "Subtitle" %>
</div>
