<%# Shows work work relations, including multi-work relations such as hasParts %>
<% @work.get_work_relations.each do |label, value| %>
    <% if displayable?(value) %>
        <tr>
          <td><b><%= t label %></b></td>
          <% if value.class == Array %>
              <% value.each do |val| %>
                  <td style="display:block">
                    <%= link_to(val.get_title_for_display, work_path(val)) %>
                  </td>
              <% end %>
          <% else value %>
              <td data-id="<%= value.__id__%>">
                <%= link_to(value.get_title_for_display, work_path(value)) %>
              </td>
              <% if defined?(edit) && edit %>
                  <td>
                    <%# Link to create dropdown via Javascript hook %>
                    <a href="#" data-function="create-dropdown" data-target="<%= value.__id__ %>" data-label="<%= label %>">
                      <i class="icon-edit"></i>
                      <%= t('.edit') %>
                    </a>
                  </td>
            <% end %>
          <% end %>

        </tr>
    <% end %>

<% end %>

