<h1>Editing Work</h1>
<%= form_for @work, :html=>{:multipart=>true}, :url => {:action=> "save_edit"}  do |f| %>
    <%= f.error_messages :header_message => 'Edit work error', :class => 'alert alert-error', :header_tag => :h3 %>
    <%= fields_for :work do |builder| %>
        <%= render 'title_fields', :f => builder %>
    <% end %>
    <br/>
    <%= fields_for :author, :html=>{:multipart=>true} do |builder| %>
        <%= render 'add_agent', :f => builder %>
    <% end %>
    <br/>
    <%= fields_for :person_described, :html=>{:multipart=>true} do |builder| %>
        <%= render 'add_concerned_agent', :f => builder %>
    <% end %>
    <br/>
    <%= fields_for :work do |builder| %>
        <%= render 'metadata_fields', :f => builder %>
    <% end %>
    <br/>
    <%= f.submit 'Next' %>
<% end %>

<%= render 'footer' %>