<%= form_for @work, :html=>{:multipart=>true}, url: work_finish_path  do|f| %>
    <%= fields_for :single_file, :html=>{:multipart=>true} do |builder| %>
        <%= render 'single_file_upload', :f => builder %>
    <% end %>
    <br/>

    <div class="action">
      <%= f.submit 'Finish'  %>
    </div>
<% end %>

<%= link_to 'Work', works_path %>