<h1>New work</h1>

<%= form_for @work, :html=>{:multipart=>true} do |f| %>
    <%= f.error_messages :header_message => 'New work error', :class => 'alert alert-error', :header_tag => :h3 %>
    <%= fields_for :work do |builder| %>
        <%= render 'title_fields', :f => builder %>
    <% end %>
    <br/>

    <%= f.submit 'Create and continue'  %>
<% end %>

<%= link_to 'Works', works_path %>
