<h3>Type: <%= @work.workType.blank? ? 'Undefined' : @work.workType.to_s %></h3>
<h3><%= @work.title %></h3>
<table border="0">
  <tr><td><b>Subtitle</b></td><td><%= @work.subTitle %></td></tr>

  <% unless @work.get_relations.empty? %>
    <% @work.get_relations.each do |relation| %>
          <tr>
            <td><b><%=relation[0].gsub('has', '') %></b></td>
            <td>
            <% unless relation[1].empty? %>
                <% for i in 0...relation[1].length %>
                    <%= link_to relation[1][i].value, authority_metadata_units_path(relation[1][i]) %>
                      <% if relation[1][i] != relation[1].last %>|<% end %>
                <% end %>
            <% end %>
            </td>
          </tr>
    <% end %>
  <% end %>

  <tr><td><b>Type of resource</b></td><td><%= @work.typeOfResource %></td></tr>
  <tr><td><b>Type of resource label</b></td><td><%= @work.typeOfResourceLabel %></td></tr>
  <tr><td><b>Record Origin Info</b></td><td><%= @work.recordOriginInfo %></td></tr>
  <tr><td><b>Cataloging Language(s)</b></td>
    <% @work.languageOfCataloging.each do |l| %>
        <td><%= l %></td>
    <% end %>
  </tr>
  <tr><td><b>Topic(s)</b></td>
    <% @work.topic.each do |t| %>
        <td><%= t %></td>
    <% end %>
  </tr>
  <tr><td><b>Genre(s)</b></td>
    <% @work.genre.each do |g| %>
        <td><%= g %></td>
    <% end %>
  </tr>
  <tr><td><b>Date created</b></td><td><%= @work.dateCreated %></td></tr>
  <tr><td><b>Other Date(s)</b></td>
    <% @work.dateOther.each do |d| %>
        <td><%= d %></td>
    <% end %>
  </tr>
  <tr><td><b>Cartographics Scale</b></td><td><%= @work.cartographicsScale %></td></tr>
  <tr><td><b>Cartographics Co-ordinates</b></td><td><%= @work.cartographicsCoordinates %></td></tr>
  <tr><td><b>Table of Contents</b></td><td><%= @work.tableOfContents %></td></tr>
  <tr><td><b>UUID</b></td><td><%= @work.uuid %></td></tr>
</table>

<hr/>
<% #Handle the tei instances. %>
<% if @work.has_rep? %>
    <p><b>Instances:</b></p>
    <ul>
      <% @work.single_file_reps.each do |t| %>
          <li><%= link_to t.instance_name + ' (' + t.pid + ')', single_file_instance_path(t) %></li>
      <% end %>
      <% @work.ordered_reps.each do |t| %>
          <li><%= link_to t.instance_name + ' (' + t.pid + ')', ordered_instance_path(t) %></li>
      <% end %>
    </ul>
<% else %>
    <p>No instances for this work.</p>
<% end %>
<hr/>

<br/>

<%= render 'footer' %>