<div class="page-header">
  <h1 class="text-left">New work</h1>
</div>

<div class="row hidden-phone ">
  <div class="span3">
       <span class="lead ">
         Step 1
       </span>
  </div>
  <div class="span3 ">
       <span class="lead">
         Step 2
       </span>
  </div>
  <div class="span3">
       <span class="lead">
         Step 3
       </span>
  </div>
  <div class="span3">
       <span class="lead">
         Step 4
       </span>
  </div>
</div>

<div class="progress progress-success hidden-phone">
  <div class="bar" style="width: 100%;"></div>
</div>

<p class="lead visible-phone">Step 4 / 4</p>

<%= form_for @work, :html=>{:multipart=>true, :class=>'form-horizontal'}, :url => {:action=> "update_file"} do|f| %>
    <div class="row">
      <div class="span9">
        <%= fields_for :multiple_files, :html=>{:multipart=>true} do |builder| %>
            <%= render 'multiple_file_upload', :f => builder %>
        <% end %>
        <%= fields_for :single_file, :html=>{:multipart=>true} do |builder| %>
            <%= render 'single_file_upload', :f => builder %>
        <% end %>
        <div class="control-group">
          <%= f.label :basic_files, 'Skip file characterisation?', :class=>'control-label' %>
          <div class="controls">
            <%= check_box_tag 'skip_file_characterisation', 'true', true %>
          </div>
        </div>
        <div class="control-group action">
          <div class="controls">
            <%= link_to_function 'Back', 'history.back()', :class=>'btn btn-large pull-left' %>
          </div>
          <div class="controls">
            <%= f.submit 'Done', :class=>'btn btn-success btn-large pull-right' %>
          </div>
        </div>
      </div>
    </div>
<% end %>
