<%= form_for @work, :html=>{:multipart=>true}, :url => {:action=> "finish_work_with_structmap"}  do|f| %>
    <div class="all-center">
      <h1 class="text-left">Sort Multiple File Instance</h1>

      <ul id="structmap_file_list" class="sortable grid">
        <%- params[:multiple_files][:basic_files].each do |file| %>
            <li><%= file.nil? ? "No basic_files" : file.original_filename %></li>
        <%- end %>
      </ul>
      <br/>

      <%= form_tag(create_structmap_work_path(@work.pid), :method => "put") do %>
          <%= hidden_field_tag("structmap_file_order") %>
          <div class="btn btn-small actions text-center">
            <%= submit_tag "Finish", :onclick => "handle_onsubmit();" %>
          </div>
      <% end %>
    </div>
<% end %>