<div class="alert"><%= author.errors.full_messages.join("<br>").html_safe %></div>
<%= form_for author, :multipart => true do |f| %>
    <div>
      <%= f.label :forename, "Forfatter navn" %>
      <br/>
      <%= f.text_field :forename, :placeholder => "Fornavn:" %>
      <%= f.text_field :surname, :placeholder => "Efternavn:" %>
    </div>
    <div>
      <%= f.label :date_of_birth, "Fødsels/død" %>
      <br/>
      <%= f.text_field :date_of_birth, :placeholder => "Fødsel:" %>
      <%= f.text_field :date_of_death, :placeholder => "Død:" %>
    </div>
    <%= f.submit %>
<% end %>
