<div class="navbar navbar-inverse navbar-fixed-top">

    <div class="navbar-inner">
        <div class="container">
            <%= link_to APP_VERSION + "Home ", root_path, :class=>'appVersion'  %>
            <a class="brand" href="<%=root_path%>">
                <%= image_tag "/assets/valhal/logo.png" %>
                <span>Valhal</span>
            </a>
            <%= render :partial=>'/user_util_links' %>
        </div>
    </div>

</div>

<div class="navbar navbar-fixed-top navbar-valhal">
    <div class="navbar-inner">
      <div class="container">

        <ul class="nav">
          <li>
            <%= link_to new_work_path, :action => new_work_path, :class => "" do %>
                <i class="icon-th-list"></i>
                <span class="hidden-phone"><%= t 'valhal.views.homepage.new_work' %></span>
            <%- end %>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <%= link_to new_authority_metadata_unit_path, :action => new_authority_metadata_unit_path, :class => "" do %>
                <i class="icon-user"></i>
                <span class="hidden-phone"><%= t 'valhal.views.homepage.new_authority_metadata_unit' %></span>
            <%- end %>
          </li>
          <li class="divider-vertical"></li>
        </ul>



        <%# Do not show navbar search box on front page %>
        <% unless is_front_page? %>
            <%= render_search_bar %>
        <% end %>
      </div>
    </div>
</div>

