<div class="navbar navbar-inverse navbar-fixed-top">

    <div class="navbar-inner">
        <div class="container">
            <%= link_to APP_VERSION + "Home ", root_path, :class=>'appVersion'  %>
            <a class="brand" href="<%=root_path%>">
                <img src="/assets/valhal/logo.png">
                <span>Valhal</span>
            </a>
            <%= render :partial=>'/user_util_links' %>
        </div>
    </div>

</div>

<div class="navbar navbar-fixed-top navbar-valhal">
    <div class="navbar-inner">
      <div class="container">

        <%= render "catalog/valhal_navbar" %>
        <%= render_search_bar %>

      </div>
    </div>
</div>

