<div class="alert"><%= @book.errors.full_messages.join("<br>").html_safe %></div>
<%= form_for @book, :multipart => true do |f| %>
    <div>
      <%= f.label :title, "Titel" %>
      <br/>
      <%= f.text_field :title, :placeholder => "Title" %>
      <%= f.text_field :subTitle, :placeholder => "Subtitle" %>
    </div>
    <div>
      <%= f.label :isbn, "ISBN" %>
      <br/>
      <%= f.text_field :isbn, :placeholder => "ISBN" %>
    </div>
    <div>
      <%= f.label :genre, "Genre" %>
      <br/>
      <%= f.text_field :genre, :placeholder => "Genre" %>
    </div>
    <div>
      <%= f.label :shelfLocator, "Shelf Locator" %>
      <br/>
      <%= f.text_field :shelfLocator, :placeholder => "Shelf Locator" %>
    </div>
    <div>
      <%= f.label :typeOfResource, "Type of resource" %>
      <br/>
      <%= f.text_field :typeOfResource, :placeholder => "Type of resource" %>
    </div>
    <div>
      <%= f.label :publisher, "Publisher" %>
      <br/>
      <%= f.text_field :publisher, :placeholder => "Publisher" %>
    </div>
    <div>
      <%= f.label :originPlace, "Place of origin" %>
      <br/>
      <%= f.text_field :originPlace, :placeholder => "Place of origin" %>
    </div>
    <div>
      <%= f.label :languageISO, "Language (both ISO and in text)" %>
      <br/>
      <%= f.text_field :languageISO, :placeholder => "da" %>
      <%= f.text_field :languageText, :placeholder => "Danish" %>
    </div>
    <div>
      <%= f.label :subjectTopic, "Topic" %>
      <br/>
      <%= f.text_field :subjectTopic, :placeholder => "Topic" %>
    </div>
    <div>
      <%= f.label :dateIssued, "Date issued" %>
      <br/>
      <%= f.text_field :dateIssued, :placeholder => "Date" %>
    </div>
    <div>
      <%= f.label :physicalExtent, "Physical extent" %>
      <br/>
      <%= f.text_field :physicalExtent, :placeholder => "physicalExtent" %>
    </div>
    <br/>
    <div>
      <%= f.fields_for :tei do |builder| %>
        <%= builder.label :file, "TEI file representation for the book" %>
        <%= builder.file_field :file %>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
