
<div class="control-group">
    <%= f.label :isbn, "ISBN", :class=>'control-label' %>
  <div class="controls">
    <%= f.text_field :isbn, :placeholder => "ISBN", :class=>'input-block-level' %>
</div>
</div>
<div class="control-group">
    <%= f.label :genre, "Genre", :class=>'control-label' %>
  <div class="controls">
    <%= f.text_field :genre, :placeholder => "Genre", :class=>'input-block-level' %>
</div>
</div>
<div class="control-group">
    <%= f.label :shelfLocator, "Shelf Locator", :class=>'control-label' %>
  <div class="controls">
    <%= f.text_field :shelfLocator, :placeholder => "Shelf Locator", :class=>'input-block-level' %>
</div>
</div>
<div class="control-group">
    <%= f.label :typeOfResource, "Type of resource", :class=>'control-label' %>
  <div class="controls">
    <%= f.text_field :typeOfResource, :placeholder => "Type of resource", :class=>'input-block-level' %>
</div>
</div>
<div class="control-group">
    <%= f.label :publisher, "Publisher", :class=>'control-label' %>
  <div class="controls">
    <%= f.text_field :publisher, :placeholder => "Publisher", :class=>'input-block-level' %>
</div>
</div>
<div class="control-group">
    <%= f.label :originPlace, "Place of origin", :class=>'control-label' %>
  <div class="controls">
    <%= f.text_field :originPlace, :placeholder => "Place of origin", :class=>'input-block-level' %>
</div>
</div>
<div class="control-group">
    <%= f.label :languageISO, "Language (both ISO and in text)", :class=>'control-label' %>
  <div class="controls">
    <%= f.text_field :languageISO, :placeholder => "da", :class=>'input-block-level' %><br>
    <%= f.text_field :languageText, :placeholder => "Danish", :class=>'input-block-level' %>
</div>
</div>
<div class="control-group">
    <%= f.label :subjectTopic, "Topic", :class=>'control-label' %>
  <div class="controls">
    <%= f.text_field :subjectTopic, :placeholder => "Topic", :class=>'input-block-level' %>
</div>
</div>
<div class="control-group">
    <%= f.label :dateIssued, "Date issued", :class=>'control-label' %>
  <div class="controls">
    <%= f.text_field :dateIssued, :placeholder => "Date", :class=>'input-block-level' %>
</div>
</div>
<div class="control-group">
    <%= f.label :physicalExtent, "Physical extent", :class=>'control-label' %>
  <div class="controls">
    <%= f.text_field :physicalExtent, :placeholder => "physicalExtent", :class=>'input-block-level' %>
</div>
</div>
