<div class="control-group">
  <%= f.label :tei_file, 'TEI basic_files representation for the book', :class=>'control-label' %>
  <div class="controls">
      <span class="btn btn-file">
        <span class="js_button_text">Upload file</span>
        <%= f.file_field :tei_file, :accept => 'text/xml' %>
      </span>
    <a class="btn btn-danger" href="#" id="tei_file_clear" title="Clear file"><i class="icon-trash icon-white"></i></a>

    <%= fields_for :representation_metadata do |builder| %>
        <%= builder.text_field :label, :placeholder => 'TEI representation label' %>
    <% end %>
    <%= fields_for :tei_metadata do |builder| %>
        <%= builder.text_field :tei_version, :placeholder => 'TEI version (e.g. P5)' %>
    <% end %>
  </div>
</div>
