<div>
  <br/>
  <%= f.label :tei_file, 'TEI file representation for the book' %>
  <%= f.file_field :tei_file, :accept => 'text/xml' %>
  <a class="btn btn-small btn-danger" href="#" id="tei_file_clear" title="Clear file"><i class="icon-remove"></i></a>

  <%= fields_for :representation_metadata do |builder| %>
      <%= builder.text_field :label, :placeholder => 'TEI representation label' %>
  <% end %>
  <%= fields_for :tei_metadata do |builder| %>
      <%= builder.text_field :tei_version, :placeholder => 'TEI version (e.g. P5)' %>
  <% end %>
</div>
