<div class="page-header">
  <h1>Books</h1>
</div>

<div class="row hidden-phone">
  <div class="span4">
    <strong class="lead">Title</strong>
  </div>
  <div class="span4">
    <strong class="lead">Subtitle</strong>
  </div>
  <div class="span4"></div>
</div>
<hr class="hidden-phone">

<% @books.each do |book| %>
    <div class="row">
      <div class="span4">
        <strong>
          <%= link_to book do %>
            <%= book.title %>
          <% end %>
        </strong>
      </div>
      <div class="span4">
        <%= book.subTitle %>
      </div>
      <div class="span4">
        <div class="btn-group">
            <%= link_to edit_book_path(book), :class=>'btn' do %>
              <i class="icon-edit"></i>
              <span class="hidden-phone">Edit</span>
            <% end %>
            <%= link_to preservation_book_path(book), :class=>'btn' do %>
              <i class="icon-time"></i>
              <span class="hidden-phone">Preservation</span>
            <% end %>
            <%= link_to book, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn'  do %>
              <i class="icon-trash"></i>
              <span class="hidden-phone">Delete</span>
            <% end %>
        </div>
      </div>
    </div>
    <hr>
<% end %>

