<h1>New book</h1>
<%= form_for @book, :html=>{:multipart=>true} do |f| %>
    <%= fields_for :book do |builder| %>
        <%= render 'title_fields', :f => builder %>
    <% end %>
    <br/>
    <%= fields_for :author, :html=>{:multipart=>true} do |builder| %>
        <%= render 'add_author', :f => builder %>
    <% end %>
    <br/>
    <%= fields_for :book do |builder| %>
        <%= render 'metadata_fields', :f => builder %>
    <% end %>
    <br/>
    <%= fields_for :tei do |builder| %>
        <%= render 'book_tei_representations/tei_metadata_fields', :f => builder %>
    <% end %>
    <br/>
    <%= fields_for :file, :html=>{:multipart=>true} do |builder| %>
        <%= render 'file_upload', :f => builder %>
        <%= render 'image_file_upload', :f => builder %>
    <% end %>
    <br/>
    <%= f.submit "Create" %>
<% end %>
<% #= render 'form' %>

<%= link_to 'Books', books_path %>
