<%- model_class = Book -%>
<div class="page-header">
  <h1><%=t 'helpers.titles.preservation', :default => [:'helpers.titles.preservation', 'Preservation for %{model}'], :model => model_class.model_name.human %></h1>
</div>

<%= form_for @book, :html=>{:multipart=>true}, url: {action: 'update_preservation'} do |f| %>
    <%= f.error_messages :header_message => "Editing preservation settings error", :class => "alert alert-error", :header_tag => :h3 %>
    <%- @object = @book-%>
    <%- @preservationMetadata = @book.preservationMetadata -%>
    <%= fields_for :preservation do |builder| %>
        <%= render 'shared/preservation_management/preservation_admin', :f => builder %>
    <% end %>
    <br/>
    <%= f.submit 'Update settings', :class => 'btn btn-primary' %>
    <%= f.submit 'Perform preservation', :class => 'btn btn-primary' %>
<% end %>

<%= link_to 'Show book', @book %> |
<%= link_to 'Edit metadata', edit_book_path(@book) %> |
<%= link_to 'Preservation settings', preservation_book_path(@book) %> |
<%= link_to 'Books', books_path %>