<%= form_for @book, :html=>{:multipart=>true}, :url => {:action=> "update_file"}  do|f| %>
    <%= fields_for :file, :html=>{:multipart=>true} do |builder| %>
        <%= render 'tei_file_upload', :f => builder %>
        <%= render 'tiff_file_upload', :f => builder %>
    <% end %>
    <br/>

    <div class="action">
      <%= f.submit 'Update'  %>
    </div>
<% end %>

<%= link_to 'Book', works_path %>