<div class="page-header">
  <h1 class="text-left">New book <small>wizard</small></h1>
</div>

<div class="row hidden-phone ">
  <div class="span3">
       <span class="lead ">
         Step 1
       </span>
  </div>
  <div class="span3 ">
       <span class="lead">
         Step 2
       </span>
  </div>
  <div class="span3">
       <span class="lead">
         Step 3
       </span>
  </div>
  <div class="span3">
       <span class="lead">
         Step 4
       </span>
  </div>
</div>

<div class="progress progress-success hidden-phone">
  <div class="bar" style="width: 75%;"></div>
</div>

<p class="lead visible-phone">Step 3 / 4</p>

<%= form_for @book, :html=>{:multipart=>true, :class=>'form-horizontal'}, :url => {:action=> "update_metadata"} do |f| %>
    <div class="row">
        <div class="span9">
            <div class="control-group">
                <div class="controls">
                  <%= f.error_messages :header_message => "Edit book error", :class => "alert alert-error", :header_tag => :h4 %>
                </div>
            </div>
            <%= fields_for :book do |builder| %>
            <%= render 'metadata_fields', :f => builder %>
            <% end %>
            <div class="control-group action">
                <div class="controls">
                    <%= link_to_function 'Back', 'history.back()', :class=>'btn btn-large pull-left' %>
                </div>
                <div class="controls">
                    <%= f.submit "Next", :class=>'btn btn-success btn-large pull-right' %>
                </div>
            </div>
        </div>
    </div>
<% end %>

