<p id="notice"><%= notice %></p>

<table border="0">
  <tr><td><b>Title</b></td><td><%= @book.title %></td></tr>
  <tr><td><b>Subtitle</b></td><td><%= @book.subTitle %></td></tr>
  <% if @book.has_author? %>
    <% @book.authors.each do |person| %>
          <tr><td><b>Author</b></td><td><%= link_to person.name, person_path(person) %></td></tr>
    <% end %>
  <% else %>
     <tr><td><b>Author</b></td><td><p>No author defined for this book.</p></td></tr>
  <% end %>

  <tr><td><b>ISBN</b></td><td><%= @book.isbn %></td></tr>
  <tr><td><b>Genre</b></td><td><%= @book.genre %></td></tr>
  <tr><td><b>Shelf Locator</b></td><td><%= @book.shelfLocator %></td></tr>
  <tr><td><b>Type Of Resource</b></td><td><%= @book.typeOfResource %></td></tr>
  <tr><td><b>Publisher</b></td><td><%= @book.publisher %></td></tr>
  <tr><td><b>Place of Origin</b></td><td><%= @book.originPlace %></td></tr>
  <tr><td><b>ISO Language</b></td><td><%= @book.languageISO %></td></tr>
  <tr><td><b>Language</b></td><td><%= @book.languageText %></td></tr>
  <tr><td><b>Topic</b></td><td><%= @book.subjectTopic %></td></tr>
  <tr><td><b>Date issued</b></td><td><%= @book.dateIssued %></td></tr>
  <tr><td><b>Physical extent</b></td><td><%= @book.physicalExtent %></td></tr>
  <tr><td><b>UUID</b></td><td><%= @book.uuid %></td></tr>
</table>

<hr/>
<% #Handle the tei representations. %>
<% if @book.tei_rep? %>
    <p><b>TEI representations:</b></p>
    <ul>
    <% @book.tei.each do |t| %>
      <li><%= link_to t.pid, book_tei_representation_path(t) %></li>
    <% end %>
    </ul>
<% else %>
    <p>No TEI representations for this book.</p>
<% end %>
<hr/>
<% if @book.hasTiffRep? %>
    <p><b>TIFF representations:</b></p>
    <ul>
    <% @book.tif.each do |t| %>
      <li><%= link_to t.pid, book_tiff_representation_path(t) %></li>
    <% end %>
    </ul>
<% else %>
    <p>No TIFF representations for this book.</p>
<% end %>
<hr/>

<br/>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Books', books_path %> |
<%= link_to 'New Book', new_book_path %>
