<h3><%= @book.title %></h3>
<table border="0">
  <tr><td><b>Subtitle</b></td><td><%= @book.subTitle %></td></tr>
  <% if @book.has_author? %>
    <% @book.authors.each do |person| %>
          <tr><td><b>Author</b></td><td><%= link_to person.name, person_path(person) %></td></tr>
    <% end %>
  <% else %>
     <tr><td><b>Author</b></td><td><p>No author defined for this book.</p></td></tr>
  <% end %>

  <% if @book.has_concerned_person? %>
    <% @book.people_concerned.each do |person| %>
          <tr><td><b>Concerning</b></td><td><%= link_to person.name, person_path(person) %></td></tr>
    <% end %>
  <% end %>

  <tr><td><b>ISBN</b></td><td><%= @book.isbn %></td></tr>
  <tr><td><b>Genre</b></td><td><%= @book.genre %></td></tr>
  <tr><td><b>Shelf Locator</b></td><td><%= @book.shelfLocator %></td></tr>
  <tr><td><b>Type Of Resource</b></td><td><%= @book.typeOfResource %></td></tr>
  <tr><td><b>Publisher</b></td><td><%= @book.publisher %></td></tr>
  <tr><td><b>Place of Origin</b></td><td><%= @book.originPlace %></td></tr>
  <tr><td><b>ISO Language</b></td><td><%= @book.languageISO %></td></tr>
  <tr><td><b>Language</b></td><td><%= @book.languageText %></td></tr>
  <tr><td><b>Topic</b></td><td><%= @book.subjectTopic %></td></tr>
  <tr><td><b>Date issued</b></td><td><%= @book.dateIssued %></td></tr>
  <tr><td><b>Physical extent</b></td><td><%= @book.physicalExtent %></td></tr>
  <tr><td><b>UUID</b></td><td><%= @book.uuid %></td></tr>
</table>

<hr/>
<% #Handle the tei representations. %>
<% if @book.has_rep? %>
    <p><b>Representations:</b></p>
    <ul>
    <% @book.single_file_reps.each do |t| %>
      <li><%= link_to t.representation_name + ' (' + t.pid + ')', single_file_representation_path(t) %></li>
    <% end %>
      <% @book.ordered_reps.each do |t| %>
          <li><%= link_to t.representation_name + ' (' + t.pid + ')', ordered_representation_path(t) %></li>
      <% end %>
    </ul>
<% else %>
    <p>No representations for this book.</p>
<% end %>
<hr/>

<br/>

<%= render 'footer' %>