

<%= render 'header' %>


<div class="row">
    <div class="span10">
        <h3><%= @book.title %></h3>
    </div>
</div>

<div class="row">
    <div class="span2">
        <strong>Subtitle</strong>
    </div>
    <div class="span8">
        <%= @book.subTitle %>
    </div>
</div>

    <% if @book.has_author? %>
        <% @book.authors.each do |person| %>
            <div class="row">
                <div class="span2">
                    <strong>Author</strong>
                </div>
                <div class="span8">
                  <%= link_to person.name, person_path(person) %>
                </div>
            </div>
        <% end %>
        <% else %>
            <div class="row">
                <div class="span2 ">
                    <strong>Author</strong>
                </div>
                <div class="span8">
                    No author defined for this book.
                </div>
            </div>
        <% end %>
        <% if @book.has_concerned_person? %>
            <% @book.people_concerned.each do |person| %>
            <div class="row">
                <div class="span2">
                    <strong>Concerning</strong>
                </div>
                <div class="span8">
                  <%= link_to person.name, person_path(person) %>
                </div>
            </div>
            <% end %>
        <% end %>

        <div class="row">
            <div class="span2">
                <strong>ISBN</strong>
            </div>
            <div class="span8">
              <%= @book.isbn %>
            </div>
        </div>

        <div class="row">
            <div class="span2">
                <strong>Genre</strong>
            </div>
            <div class="span8">
                <%= @book.genre %>
            </div>
        </div>

        <div class="row">
            <div class="span2">
                <strong>Shelf Locator</strong>
            </div>
            <div class="span8">
                <%= @book.shelfLocator %>
            </div>
        </div>

        <div class="row">
            <div class="span2">
                <strong>Type Of Resource</strong>
            </div>
            <div class="span8">
              <%= @book.typeOfResource %>
            </div>
        </div>

        <div class="row">
            <div class="span2">
                <strong>Publisher</strong>
            </div>
            <div class="span8">
              <%= @book.publisher %>
            </div>
        </div>

        <div class="row">
            <div class="span2">
                <strong>Place of Origin</strong>
            </div>
            <div class="span8">
              <%= @book.originPlace %>
            </div>
        </div>

        <div class="row">
            <div class="span2">
                <strong>ISO Language</strong>
            </div>
            <div class="span8">
              <%= @book.languageISO %>
            </div>
        </div>

        <div class="row">
            <div class="span2">
                <strong>Language</strong>
            </div>
            <div class="span8">
                <%= @book.languageText %>
            </div>
        </div>

        <div class="row">
            <div class="span2">
                <strong>Topic</strong>
            </div>
            <div class="span8">
              <%= @book.subjectTopic %>
            </div>
        </div>

        <div class="row">
            <div class="span2">
                <strong>Date issued</strong>
            </div>
            <div class="span8">
              <%= @book.dateIssued %>
            </div>
        </div>

        <div class="row">
            <div class="span2">
                <strong>Physical extent</strong>
            </div>
            <div class="span8">
              <%= @book.physicalExtent %>
            </div>
        </div>

        <div class="row">
            <div class="span2">
                <strong>UUID</strong>
            </div>
            <div class="span8">
                <%= @book.uuid %>
            </div>
        </div>

</div>


<hr/>
<% #Handle the tei representations. %>
<% if @book.has_rep? %>
    <p><b>Representations:</b></p>
    <ul>
    <% @book.single_file_reps.each do |t| %>
      <li><%= link_to t.representation_name + ' (' + t.pid + ')', single_file_representation_path(t) %></li>
    <% end %>
      <% @book.ordered_reps.each do |t| %>
          <li><%= link_to t.representation_name + ' (' + t.pid + ')', ordered_representation_path(t) %></li>
      <% end %>
    </ul>
<% else %>
    <p>No representations for this book.</p>
<% end %>



