<ul class="nav">
  <li>
    <%= link_to new_book_path, :action => new_book_path, :class => "" do %>
        <i class="icon-book"></i>
        <span class="hidden-phone"><%= t 'valhal.views.homepage.new_book' %></span>
    <%- end %>
  </li>
  <li class="divider-vertical"></li>
  <li>
    <%= link_to new_person_path, :action => new_person_path, :class => "" do %>
        <i class="icon-user"></i>
        <span class="hidden-phone"><%= t 'valhal.views.homepage.new_person' %></span>
    <%- end %>
  </li>
  <li class="divider-vertical"></li>
  <li>
    <%= link_to new_work_path, :action => new_work_path, :class => "" do %>
        <i class="icon-th-list"></i>
        <span class="hidden-phone"><%= t 'valhal.views.homepage.new_work' %></span>
    <%- end %>
  </li>
  <li class="divider-vertical"></li>
</ul>




