<% if has_search_parameters? %>
    <%- if @response.empty? %>
        <%= render "zero_results" %>
    <% else %>

        <div class="row">
          <div id="sidebar" class="span3">
            <%= render 'search_sidebar' %>
          </div>

          <div id="content" class="span9">
            <h2 class="hide-text top-content-title"><%= t('blacklight.search.search_results_header') %></h2>

            <% @page_title = t('blacklight.search.title', :application_name => application_name) %>

            <% Deprecation.silence(Blacklight::LegacyControllerMethods) { extra_head_content << render_opensearch_response_metadata.html_safe } %>

            <%= render 'search_header' %>

            <h2 class="hide-text"><%= t('blacklight.search.search_results') %></h2>

            <%- if render_grouped_response? %>
                <%= render_grouped_document_index %>
            <%- else %>
                <%= render_document_index %>
            <%- end %>

            <%= render 'results_pagination' %>

          </div>

    <% end %>

<% else %>

    <div id="content" class="container">
      <%# if there are no input/search related params, display the "home" partial -%>
      <%= render 'home' %>
      <%#= link_to 'People', people_path , :class=>'btn' %>
      <%= link_to 'Works', works_path, :class=>'btn' %>
      <%= link_to 'AuthorityMetadataUnits', authority_metadata_units_path, :class=>'btn' %>
    </div>
<% end %>
</div>
