<%= javascript_include_tag params[:controller] %>
<div class="control-group">
  <h3>Persons:</h3>
  <label class="controls">This single file instance...</label>
  <div class="controls">
    <select id="person_relationship" name="person_relationship" class="control-group">
      <% METADATA_RELATIONS_CONFIG['instance']['person'].split(' ').each do |relation|  %>
          <option id="<%= relation %>"><%= relation %></option>
      <% end %>
    </select>
  </div>
  <div class="controls">
    <select id="person_id" name="person[id]">
      <% Person.all.each do |person| %>
          <option value="<%= person.id%>"><%= person.value %></option>
      <% end %>
    </select>
  </div>
  <div class="controls">
    <%= button_tag(type: 'button', onclick: 'addAgent($("#person_relationship option:selected").text(),
                                                    $("#person_id option:selected").text(), $("#person_id option:selected").val())', class: 'btn') do
      content_tag(:label, 'Add Person')
    end
    %>
  </div>
  <p></p>
  <h3>Places:</h3>
  <label class="controls">This single file instance...</label>
  <div class="controls">
    <select id="place_relationship" name="place_relationship" class="control-group">
      <% METADATA_RELATIONS_CONFIG['instance']['place'].split(' ').each do |relation|  %>
          <option value="<%= relation %>"><%= relation %></option>
      <% end %>
    </select>
  </div>
  <div class="controls">
    <select id="place_id" name="place[id]">
      <% Place.all.each do |place| %>
            <option value="<%= place.id%>"><%= place.value %></option>
      <% end %>
    </select>
  </div><br/>
  <div class="controls">
    <%= button_tag(type: 'button', onclick: 'addAgent($("#place_relationship option:selected").text(),
                                                    $("#place_id option:selected").text(), $("#place_id option:selected").val())', class: 'btn') do
      content_tag(:label, 'Add Place')
    end
    %>
  </div>
  <%= hidden_field_tag 'instance_agents' %>
  <br><br>
  <div id="instance_agents" class="control-group">
    <table border="1" id="agent_relations" class="table">
      <thead>
      <tr>
        <th>Relationship Type</th>
        <th>Agent Name</th>
      </tr>
      </thead>
      <tbody id="agent_relations_tbody">
          <% if @single_file_instance.get_relations.empty? %>
              <tr><td>None</td><td>None</td></tr>
          <% end %>
          <% @single_file_instance.get_relations.each do |relation| %>
              <tr>
                <td><%=relation[0] %></td>
                <td>
                  <% unless relation[1].empty? %>
                      <% for i in 0...relation[1].length %>
                          <%= relation[1][i].value %>
                      <% end %>
                  <% end %>
                </td>
              </tr>
          <% end %>
      </tbody>
    </table>
  </div><br>
</div>