<%= form_for(@single_file_instance) do |f| %>
    <% if @single_file_instance.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@single_file_instance.errors.count, "error") %> prohibited this single file instance from being saved:</h2>

          <ul>
            <% @single_file_instance.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :shelfLocator, 'Physical representation shelf locator', :class=>'control-label' %>
      <div class="controls">
        <%= f.text_field :shelfLocator, :placeholder => 'Shelf locator', :class=>'input-block-level' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :dateCreated, 'Date created', :class=>'control-label' %>
      <div class="controls">
        <%= f.date_field :dateCreated, :placeholder => 'Date created', :class=>'input-block-level' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :dateIssued, 'Date issued', :class=>'control-label' %>
      <div class="controls">
        <%= f.date_field :dateIssued, :placeholder => 'Date issued', :class=>'input-block-level' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :tableOfContents, 'Table of Contents', :class=>'control-label' %>
      <div class="controls">
        <%= f.text_field :tableOfContents, :placeholder => 'Enter chapters separated by hyphens...', :class=>'input-block-level' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :physicalDescriptionForm, 'Physical Description Form(s)', :class=>'control-label' %>
      <% @single_file_instance.physicalDescriptionForm.each do |physicalDescriptionForm| %>
          <div class="controls">
            <%= text_field_tag "single_file_ins[physicalDescriptionForm][]", physicalDescriptionForm, class: 'input-block-level' %>
          </div>
      <% end %>
      <%- if @single_file_instance.physicalDescriptionForm.empty? %>
          <div class="controls">
            <%= text_field_tag "single_file_ins[physicalDescriptionForm][]", nil, class: 'input-block-level' %>
          </div>
      <%- end %>
    </div>
    <div class="control-group">
      <%= f.label :physicalDescriptionNote, 'Physical Description Note(s)', :class=>'control-label' %>
      <% @single_file_instance.physicalDescriptionNote.each do |physicalDescriptionNote| %>
          <div class="controls">
            <%= text_field_tag "single_file_ins[physicalDescriptionNote][]", physicalDescriptionNote, class: 'input-block-level' %>
          </div>
      <% end %>
      <%- if @single_file_instance.physicalDescriptionNote.empty? %>
          <div class="controls">
            <%= text_field_tag "single_file_ins[physicalDescriptionNote][]", nil, class: 'input-block-level' %>
          </div>
      <%- end %>
    </div>
    <div class="control-group">
      <%= f.label :recordOriginInfo, 'Record Origin Info(s)', :class=>'control-label' %>
      <% @single_file_instance.recordOriginInfo.each do |recordOriginInfo| %>
          <div class="controls">
            <%= text_field_tag "single_file_ins[recordOriginInfo][]", recordOriginInfo, class: 'input-block-level' %>
          </div>
      <% end %>
      <%- if @single_file_instance.recordOriginInfo.empty? %>
          <div class="controls">
            <%= text_field_tag "single_file_ins[recordOriginInfo][]", nil, class: 'input-block-level' %>
          </div>
      <%- end %>
    </div>
    <div class="control-group">
      <%= f.label :languageOfCataloging, 'Cataloging language(s)', :class=>'control-label' %>
      <% @single_file_instance.languageOfCataloging.each do |languageOfCataloging| %>
          <div class="controls">
            <%= text_field_tag "single_file_instance[languageOfCataloging][]", languageOfCataloging, class: 'input-block-level' %>
          </div>
      <% end %>
      <%- if @single_file_instance.languageOfCataloging.empty? %>
          <div class="controls">
            <%= text_field_tag "single_file_instance[languageOfCataloging][]", nil, class: 'input-block-level' %>
          </div>
      <%- end %>
    </div>
    <div class="control-group">
      <%= f.label :dateOther, 'Other Date(s)', :class=>'control-label' %>
      <% @single_file_instance.dateOther.each do |dateOther| %>
          <div class="controls">
            <%= text_field_tag "single_file_instance[dateOther][]", dateOther, class: 'input-block-level' %>
          </div>
      <% end %>
      <%- if @single_file_instance.dateOther.empty? %>
          <div class="controls">
            <%= text_field_tag "single_file_instance[dateOther][]", nil, class: 'input-block-level' %>
          </div>
      <%- end %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>