<table border='0'>
  <tr><td style='font-weight: bold;'>Related Work</td><td><%=link_to @single_file_instance.ie.title, work_path(@single_file_instance.ie.pid) %></td></tr>
  <tr><td style='font-weight: bold;'>Instance name: </td><td><%= @single_file_instance.instance_name %></td></tr>
  <tr><td><b>Number of files: </b></td><td><%= @single_file_instance.files.length.to_s %></td></tr>
  <br>
  <% unless @single_file_instance.get_relations.empty? %>
      <% @single_file_instance.get_relations.each do |relation| %>
          <tr>
            <td><b><%=relation[0].gsub('has', '') %></b></td>
            <td>
              <% unless relation[1].empty? %>
                  <% for i in 0...relation[1].length %>
                      <%= link_to relation[1][i].value, authority_metadata_unit_path(relation[1][i]) %>
                      <% if relation[1][i] != relation[1].last %>|<% end %>
                  <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>
  <% end %>
  <tr><td><b>Physical representation shelf locator</b></td><td><%= @single_file_instance.shelfLocator %></td></tr>
  <tr><td><b>Date created</b></td><td><%= @single_file_instance.dateCreated %></td></tr>
  <tr><td><b>Date issued</b></td><td><%= @single_file_instance.dateIssued %></td></tr>
  <tr><td><b>Table of Contents</b></td><td><%= @single_file_instance.tableOfContents %></td></tr>
  <tr><td><b>Physical Description Form(s)</b></td>
    <% @single_file_instance.physicalDescriptionNote.each do |d| %>
        <td><%= d %></td>
    <% end %>
  </tr>
  <tr><td><b>Physical Description Note(s)</b></td>
    <% @single_file_instance.physicalDescriptionNote.each do |d| %>
        <td><%= d %></td>
    <% end %>
  </tr>
  <tr><td><b>Record Origin Info(s)</b></td>
    <% @single_file_instance.recordOriginInfo.each do |d| %>
        <td><%= d %></td>
    <% end %>
  </tr>
  <tr><td><b>Cataloging language(s)</b></td>
    <% @single_file_instance.languageOfCataloging.each do |d| %>
        <td><%= d %></td>
    <% end %>
  </tr>
  <tr><td><b>Other Date(s)</b></td>
    <% @single_file_instance.dateOther.each do |d| %>
        <td><%= d %></td>
    <% end %>
  </tr>
</table>

<br/>

<%= render 'footer' %>

<hr/>

<%- @single_file_instance.files.each do |file| %>
    <% # TODO fix the following %>
    <span style='font-weight: bold;'>File Name:</span> <%= file.nil? ? 'No basic_files' : (link_to file.original_filename, basic_file_path(file)) %>
    <br/>
    <span style='font-weight: bold;'>Created:</span> <%= file.nil? ? 'N/A' : file.created %>
    <br/>
    <span style='font-weight: bold;'>MIME:</span> <%= file.nil? ? 'N/A' : file.mime_type %>
    <br/>
    <span style='font-weight: bold;'>File Size:</span> <%= file.nil? ? 'N/A' : file.size %> bytes
    <br/>
    <span style='font-weight: bold;'>Checksum:</span> <%= file.nil? ? 'N/A' : file.checksum %>
    <br/>
    <span style='font-weight: bold;'>UUID:</span> <%= file.nil? ? 'N/A' : file.uuid %>
    <br/>
    <% if file.nil? %>
        <p>"N/A"</p>
    <% else %>
        <%= file.kind_of?(TiffFile) ? (link_to image_tag(url_for(thumbnail_url_ordered_instance_path :pid => file.pid), :style => "border: 1px solid black;"),
                                               download_basic_file_path(file))
            : (link_to 'Download', download_basic_file_path(file)) %>
    <% end %>
    <br />
    <hr/>
<%- end %>