<p id='notice'><%= notice %></p>

<table border='0'>
  <tr><td style='font-weight: bold;'>Instance name: </td><td><%= @single_file_instance.instance_name %></td></tr>
  <tr><td>Number of files: </td><td><%= @single_file_instance.files.length.to_s %></td></tr>
</table>

<br/>

<%= render 'footer' %>

<hr/>

<%- @single_file_instance.files.each do |file| %>
    <% # TODO fix the following %>
    <span style='font-weight: bold;'>File Name:</span> <%= file.nil? ? 'No basic_files' : (link_to file.original_filename, basic_file_path(file)) %>
    <br/>
    <span style='font-weight: bold;'>Created:</span> <%= file.nil? ? 'N/A' : file.created %>
    <br/>
    <span style='font-weight: bold;'>MIME:</span> <%= file.nil? ? 'N/A' : file.mime_type %>
    <br/>
    <span style='font-weight: bold;'>File Size:</span> <%= file.nil? ? 'N/A' : file.size %> bytes
    <br/>
    <span style='font-weight: bold;'>Checksum:</span> <%= file.nil? ? 'N/A' : file.checksum %>
    <br/>
    <span style='font-weight: bold;'>UUID:</span> <%= file.nil? ? 'N/A' : file.uuid %>
    <br/>
    <% if file.nil? %>
        <p>"N/A"</p>
    <% else %>
        <%= file.kind_of?(TiffFile) ? (link_to image_tag(url_for(thumbnail_url_ordered_instance_path :pid => file.pid), :style => "border: 1px solid black;"),
                                               download_basic_file_path(file))
            : (link_to 'Download', download_basic_file_path(file)) %>
    <% end %>
    <br />
    <hr/>
<%- end %>