<div class="controls">
  <%= f.label :discover_access, 'Discover Group', :class=>'control-label' %>
  <div class="controls">
    <%= f.text_field :discover_access, :placeholder => @ordered_instance.discover_groups, :class=>'input-block-level' %>
  </div>
  <%= f.label :read_access, 'Read Group', :class=>'control-label' %>
  <div class="controls">
    <%= f.text_field :read_access, :placeholder => @ordered_instance.read_groups, :class=>'input-block-level' %>
  </div>
  <%= f.label :edit_access, 'Edit Group', :class=>'control-label' %>
  <div class="controls">
    <%= text_area_tag(:edit_access, @ordered_instance.edit_groups_string, class:'input-block-level')  %>
  </div>
</div>