<h1><%= t '.listing_vocabularies' %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t '.name' %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vocabularies.each do |vocabulary| %>
      <tr>
        <td><%= vocabulary.name %></td>
        <td><%= link_to t('.show'), vocabulary %></td>
        <td><%= link_to t('.edit'), edit_vocabulary_path(vocabulary.id) %></td>
        <td><%= link_to t('.delete'), vocabulary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new_vocabulary'), new_vocabulary_path %>
