
<% if has_user_authentication_provider? %>

    <% if current_user %>

        <ul class="nav pull-right">
          <li>
            <p class="navbar-text"><%= render :text => current_user %>&nbsp;</p>
          </li>
          <li>
            <%= button_to destroy_user_session_path, :action => destroy_user_session_path, :class => "btn btn-danger", :method => :get do %>
                <i class="icon-off icon-white"></i>
                <span class="hidden-phone"><%= t 'blacklight.header_links.logout' %></span>
            <% end %>
          </li>
        </ul>

    <% else %>

        <ul class="nav pull-right">
          <li>
            <%= button_to new_user_session_path, :action => new_user_session_path, :class => "btn btn-success", :method => :get do %>
                <i class="icon-off icon-white"></i>
                <span class="hidden-phone"><%= t 'blacklight.header_links.login' %></span>
            <% end %>

          </li>
        </ul>

    <% end %>


<% end %>


