<%= form_for(@book_tei_representation) do |f| %>
    <% if @book_tei_representation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@book_tei_representation.errors.count, "error") %> prohibited this book_tei_representation
            from being saved:</h2>

          <ul>
            <% @book_tei_representation.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.file_field :file_data, :placeholder => "Tei File" %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
