<h1>Listing book_tei_representations</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @book_tei_representations.each do |book_tei_representation| %>
  <tr>
    <td><%= book_tei_representation.files.first.original_filename %></td>
    <td><%= link_to 'Show', book_tei_representation %></td>
    <td><%= link_to 'Edit', edit_book_tei_representation_path(book_tei_representation) %></td>
    <td><%= link_to 'Destroy', book_tei_representation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Book tei representation', new_book_tei_representation_path %>
