<h1>New book tei representation</h1>

<%= form_for @book_tei_representation, :html=>{:multipart=>true} do |f| %>
    <%= fields_for :book_tei_representation do |builder| %>
        <%= render 'tei_metadata_fields', :f => builder %>
    <% end %>
    <br/>
    <%= fields_for :file, :html=>{:multipart=>true} do |builder| %>
        <%= render 'tei_file_upload', :f => builder %>
    <% end %>
    <br/>
    <%= f.submit "Create" %>
<% end %>
<% #= render 'form' %>

<%= link_to 'Back', book_tei_representations_path %>
