<p>Filer tilknyttet: <%= @book_tei_representation.files.count %></p>
<%- @book_tei_representation.files.each do |file| %>
    <% # TODO fix the following %>
    File Name: <%= file.nil? ? "No file" : file.original_filename %>
    <br/>
    Created: <%= file.nil? ? "N/A" : file.created %>
    <br/>
<%- end %>

<% if @book_tei_reprensentation.book? %>
    <p><b>Book:</b>
    <%= link_to @book_tei_representation.book, book_path(@book_tei_representation.book) %></p>
<% else %>
    <p>No book represented by this.</p>
<% end %>

<br/>

<%= link_to 'Edit', edit_book_tei_representation_path(@book_tei_representation) %> |
<%= link_to 'Back', book_tei_representations_path %>
