<table border="0">
  <tr><td><b>TEI version</b></td><td><%= @book_tei_representation.tei_version %></td></tr>
</table>

<hr/>

<p>Filer tilknyttet: <%= @book_tei_representation.files.count %></p>
<%- @book_tei_representation.files.each do |file| %>
    <% # TODO fix the following %>
    File Name: <%= file.nil? ? "No file" : file.original_filename %>
    <br/>
    Created: <%= file.nil? ? "N/A" : file.created %>
    <br/>
    MIME: <%= file.nil? ? "N/A" : file.mime_type %>
    <br/>
    File Size: <%= file.nil? ? "N/A" : file.size %> bytes
    <br/>
    Checksum: <%= file.nil? ? "N/A" : file.checksum %>
    <br/>
    UUID: <%= file.nil? ? "N/A" : file.uuid %>
    <br/>
    <%= file.nil? ? "N/A" : (link_to "Download", {:action => "show", :pid => file.pid, :controller => "view_file" }) %>
    <br />
    <hr/>
<%- end %>

<% if @book_tei_representation.has_book? %>
    <p><b>Book:</b>
    <%= link_to @book_tei_representation.book.title + " (" + @book_tei_representation.book.pid + ")", book_path(@book_tei_representation.book) %>
    </p>
<% else %>
    <p>No book represented by this.</p>
<% end %>

<br/>

<%= link_to 'Edit', edit_book_tei_representation_path(@book_tei_representation) %> |
<%= link_to 'Book TEI Representations', book_tei_representations_path %> |
<%= link_to 'Books', books_path %>
